<p id="notice"><%= notice %></p>

<h1>Permits</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Applicant first name</th>
      <th>Applicant last name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Address</th>
      <th>Payload</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permits.each do |permit| %>
      <tr>
        <td><%= permit.type %></td>
        <td><%= permit.applicant_first_name %></td>
        <td><%= permit.applicant_last_name %></td>
        <td><%= permit.start_date %></td>
        <td><%= permit.end_date %></td>
        <td><%= permit.address %></td>
        <td><%= permit.payload %></td>
        <td><%= link_to 'Show', permit %></td>
        <td><%= link_to 'Edit', edit_permit_path(permit) %></td>
        <td><%= link_to 'Destroy', permit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permit', new_permit_path %>
