<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' %>
    <%= env_javascript_include_tag(hot: ['http://localhost:3000/app-bundle.js']) %>
    <%= env_javascript_include_tag(static: 'application_static',
                  hot: 'application_non_webpack',
                  'data-turbolinks-track' => 'reload') %>

    <%= stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' %>
    <%= stylesheet_link_tag 'https://use.typekit.net/nrw2ooo.css' %>

    <%= javascript_pack_tag 'vendor-bundle' %>
    <%= javascript_pack_tag 'app-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
