<!DOCTYPE html>
<html>
  <head>
    <title>Roadworks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://use.typekit.net/nrw2ooo.css' %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

  </body>
</html>
